/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.0.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: project
-- ------------------------------------------------------
-- Server version	12.0.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `album_artist`
--

DROP TABLE IF EXISTS `album_artist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `album_artist` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '愿怨?湲곕낯 ??,
  `album_id` bigint(20) NOT NULL COMMENT 'FK: Albums ?뚯씠釉?李몄“',
  `artist_id` bigint(20) NOT NULL COMMENT 'FK: Artists ?뚯씠釉?李몄“',
  `roles` varchar(100) DEFAULT NULL COMMENT '李몄뿬 ??븷: Main, Featuring ??,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uix_album_artist` (`album_id`,`artist_id`,`roles`),
  KEY `fk_aa_artist` (`artist_id`),
  CONSTRAINT `fk_aa_album` FOREIGN KEY (`album_id`) REFERENCES `albums` (`album_id`),
  CONSTRAINT `fk_aa_artist` FOREIGN KEY (`artist_id`) REFERENCES `artists` (`artist_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?⑤쾾 ???꾪떚?ㅽ듃 李몄뿬 (?⑹옉) 愿怨?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `album_artist`
--

LOCK TABLES `album_artist` WRITE;
/*!40000 ALTER TABLE `album_artist` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `album_artist` VALUES
(1,1,2,'Featuring'),
(2,2,2,'Main');
/*!40000 ALTER TABLE `album_artist` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `albums`
--

DROP TABLE IF EXISTS `albums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `albums` (
  `album_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '?⑤쾾 湲곕낯 ??,
  `title` varchar(255) NOT NULL COMMENT '?⑤쾾 ?쒕ぉ',
  `release_date` date NOT NULL COMMENT '諛쒕ℓ??,
  `cover_img_url` text DEFAULT NULL COMMENT '而ㅻ쾭 ?대?吏 URL',
  `album_type` varchar(20) DEFAULT NULL COMMENT '?⑤쾾 ??? Single, EP, Full',
  PRIMARY KEY (`album_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?⑤쾾 ?뺣낫';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `albums`
--

LOCK TABLES `albums` WRITE;
/*!40000 ALTER TABLE `albums` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `albums` VALUES
(1,'諛붾떎','2024-05-05','testA','Single'),
(2,'??,'2021-04-04','testB','Single'),
(3,'醫뗭???,'2019-01-01','testC','Single');
/*!40000 ALTER TABLE `albums` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `artists`
--

DROP TABLE IF EXISTS `artists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `artists` (
  `artist_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '?꾪떚?ㅽ듃 湲곕낯 ??,
  `name` varchar(100) NOT NULL COMMENT '?쒕룞紐?,
  `agency` varchar(100) DEFAULT NULL COMMENT '湲고쉷??,
  `debut_date` date DEFAULT NULL COMMENT '?곕퇃?좎쭨',
  `image_url` text DEFAULT NULL COMMENT '?대?吏 URL',
  PRIMARY KEY (`artist_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='媛??諛대뱶 ?뺣낫';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artists`
--

LOCK TABLES `artists` WRITE;
/*!40000 ALTER TABLE `artists` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `artists` VALUES
(1,'IU','?뚯냽1','2025-12-01','aa'),
(2,'Yuri','?뚯냽2','2012-02-01','bb'),
(3,'son','?뚯냽3','2015-05-01','cc');
/*!40000 ALTER TABLE `artists` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `chart_song`
--

DROP TABLE IF EXISTS `chart_song`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `chart_song` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '愿怨?湲곕낯 ??,
  `chart_id` bigint(20) NOT NULL COMMENT 'FK: Charts ?뚯씠釉?李몄“',
  `song_id` bigint(20) NOT NULL COMMENT 'FK: Songs ?뚯씠釉?李몄“',
  `rank` int(11) NOT NULL COMMENT '?쒖쐞',
  `rank_change` int(11) DEFAULT NULL COMMENT '?꾩＜ ?鍮??쒖쐞 蹂??,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uix_chart_ranking` (`chart_id`,`rank`),
  UNIQUE KEY `uix_chart_song` (`chart_id`,`song_id`),
  KEY `fk_cs_song` (`song_id`),
  CONSTRAINT `fk_cs_chart` FOREIGN KEY (`chart_id`) REFERENCES `charts` (`chart_id`),
  CONSTRAINT `fk_cs_song` FOREIGN KEY (`song_id`) REFERENCES `songs` (`song_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='李⑦듃蹂?怨??쒖쐞 ?뺣낫';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chart_song`
--

LOCK TABLES `chart_song` WRITE;
/*!40000 ALTER TABLE `chart_song` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `chart_song` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `charts`
--

DROP TABLE IF EXISTS `charts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `charts` (
  `chart_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '李⑦듃 湲곕낯 ??,
  `title` varchar(255) DEFAULT NULL COMMENT '李⑦듃 ?쒕ぉ (?? 2023??5??1二쇱감 二쇨컙 李⑦듃)',
  `chart_type` varchar(100) NOT NULL COMMENT '李⑦듃 ?좏삎: Daily, Weekly, Monthly',
  `base_time` datetime NOT NULL COMMENT '吏묎퀎 湲곗? ?쇱떆',
  PRIMARY KEY (`chart_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?쇨컙/二쇨컙/?붽컙 李⑦듃 ?뺤쓽';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `charts`
--

LOCK TABLES `charts` WRITE;
/*!40000 ALTER TABLE `charts` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `charts` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `genres`
--

DROP TABLE IF EXISTS `genres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `genres` (
  `genre_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '?λⅤ 湲곕낯 ??,
  `name` varchar(50) NOT NULL COMMENT '?λⅤ紐?,
  PRIMARY KEY (`genre_id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?λⅤ 遺꾨쪟 留덉뒪??;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genres`
--

LOCK TABLES `genres` WRITE;
/*!40000 ALTER TABLE `genres` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `genres` VALUES
(3,'?꾩뒪'),
(2,'??),
(1,'諛쒕씪??),
(4,'?몃뵒');
/*!40000 ALTER TABLE `genres` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `pay_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '寃곗젣 湲곕낯 ??,
  `user_id` bigint(20) NOT NULL COMMENT 'FK: Users ?뚯씠釉?李몄“',
  `us_id` bigint(20) DEFAULT NULL COMMENT 'FK: User_Subscription ?뚯씠釉?李몄“ (?대뼡 援щ룆?????寃곗젣?몄?)',
  `amount` int(11) NOT NULL COMMENT '寃곗젣 湲덉븸',
  `pay_method` varchar(50) DEFAULT NULL COMMENT '寃곗젣 ?섎떒',
  `paid_at` datetime NOT NULL COMMENT '寃곗젣?쇱떆',
  `is_success` varchar(20) NOT NULL COMMENT 'true : ?깃났, false : ?ㅽ뙣',
  PRIMARY KEY (`pay_id`),
  KEY `fk_pay_user` (`user_id`),
  KEY `fk_pay_usub` (`us_id`),
  CONSTRAINT `fk_pay_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_pay_usub` FOREIGN KEY (`us_id`) REFERENCES `user_subscription` (`us_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='寃곗젣 ?댁뿭 湲곕줉';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `payments` VALUES
(1,1,5,50000,'移대뱶','2025-12-04 20:21:41','true');
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `play_log`
--

DROP TABLE IF EXISTS `play_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `play_log` (
  `log_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '濡쒓렇 湲곕낯 ??,
  `user_id` bigint(20) NOT NULL COMMENT 'FK: Users ?뚯씠釉?李몄“',
  `song_id` bigint(20) NOT NULL COMMENT 'FK: Songs ?뚯씠釉?李몄“',
  `started_at` datetime NOT NULL COMMENT '?ъ깮 ?쒖옉 ?쒓컙',
  `ended_at` datetime NOT NULL COMMENT '?ъ깮 醫낅즺 ?쒓컙',
  PRIMARY KEY (`log_id`),
  KEY `fk_log_user` (`user_id`),
  KEY `fk_log_song` (`song_id`),
  CONSTRAINT `fk_log_song` FOREIGN KEY (`song_id`) REFERENCES `songs` (`song_id`),
  CONSTRAINT `fk_log_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='紐⑤뱺 ?ъ깮 ?대깽??濡쒓렇';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `play_log`
--

LOCK TABLES `play_log` WRITE;
/*!40000 ALTER TABLE `play_log` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `play_log` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `playlist_song`
--

DROP TABLE IF EXISTS `playlist_song`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `playlist_song` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '愿怨?湲곕낯 ??,
  `playlist_id` bigint(20) NOT NULL COMMENT 'FK: Playlists ?뚯씠釉?李몄“',
  `song_id` bigint(20) NOT NULL COMMENT 'FK: Songs ?뚯씠釉?李몄“',
  `display_order` int(11) NOT NULL COMMENT '?뚮젅?대━?ㅽ듃 ??怨??쒖꽌',
  `added_at` datetime NOT NULL COMMENT '?뚮젅?대━?ㅽ듃??怨?異붽? ?쒖젏',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uix_playlist_song` (`playlist_id`,`song_id`),
  KEY `fk_ps_song` (`song_id`),
  CONSTRAINT `fk_ps_playlist` FOREIGN KEY (`playlist_id`) REFERENCES `playlists` (`playlist_id`),
  CONSTRAINT `fk_ps_song` FOREIGN KEY (`song_id`) REFERENCES `songs` (`song_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?뚮젅?대━?ㅽ듃 ??怨??섎줉 愿怨?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlist_song`
--

LOCK TABLES `playlist_song` WRITE;
/*!40000 ALTER TABLE `playlist_song` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `playlist_song` VALUES
(3,1,1,2,'2022-01-01 00:00:00'),
(4,2,3,1,'2024-05-08 00:00:00'),
(5,3,2,1,'2025-04-02 00:00:00'),
(6,1,3,7,'2025-12-04 21:39:14'),
(11,1,2,4,'2025-12-04 21:40:14');
/*!40000 ALTER TABLE `playlist_song` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `playlists`
--

DROP TABLE IF EXISTS `playlists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `playlists` (
  `playlist_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '?뚮젅?대━?ㅽ듃 湲곕낯 ??,
  `user_id` bigint(20) NOT NULL COMMENT 'FK: Users ?뚯씠釉?李몄“ (?앹꽦??',
  `title` varchar(100) NOT NULL COMMENT '?뚮젅?대━?ㅽ듃 ?쒕ぉ',
  `is_public` tinyint(1) NOT NULL DEFAULT 0 COMMENT '怨듦컻 ?щ? (0:鍮꾧났媛? 1:怨듦컻)',
  `play_created_at` datetime NOT NULL COMMENT '?앹꽦?쇱떆',
  PRIMARY KEY (`playlist_id`),
  KEY `fk_playlist_user` (`user_id`),
  CONSTRAINT `fk_playlist_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?ъ슜???뚮젅?대━?ㅽ듃';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlists`
--

LOCK TABLES `playlists` WRITE;
/*!40000 ALTER TABLE `playlists` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `playlists` VALUES
(1,1,'?뚮━1',1,'2022-01-01 00:00:00'),
(2,2,'?뚮━2',1,'2024-01-01 00:00:00'),
(3,3,'?뚮━10',0,'2023-01-01 00:00:00'),
(4,1,'test1',1,'2025-12-04 20:42:57'),
(5,1,'test2',1,'2025-12-04 20:44:33');
/*!40000 ALTER TABLE `playlists` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `song_artist`
--

DROP TABLE IF EXISTS `song_artist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `song_artist` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '愿怨?湲곕낯 ??,
  `song_id` bigint(20) NOT NULL COMMENT 'FK: Songs ?뚯씠釉?李몄“',
  `artist_id` bigint(20) NOT NULL COMMENT 'FK: Artists ?뚯씠釉?李몄“',
  `artist_type` varchar(100) NOT NULL COMMENT '李몄뿬 ?좏삎: Main, Feat, Composer ??,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uix_song_artist` (`song_id`,`artist_id`),
  KEY `fk_sa_artist` (`artist_id`),
  CONSTRAINT `fk_sa_artist` FOREIGN KEY (`artist_id`) REFERENCES `artists` (`artist_id`),
  CONSTRAINT `fk_sa_song` FOREIGN KEY (`song_id`) REFERENCES `songs` (`song_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='怨????꾪떚?ㅽ듃 李몄뿬 愿怨?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `song_artist`
--

LOCK TABLES `song_artist` WRITE;
/*!40000 ALTER TABLE `song_artist` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `song_artist` VALUES
(1,1,1,'Main'),
(2,1,2,'featuring'),
(3,2,2,'featuring');
/*!40000 ALTER TABLE `song_artist` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `song_genre`
--

DROP TABLE IF EXISTS `song_genre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `song_genre` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '愿怨?湲곕낯 ??,
  `song_id` bigint(20) NOT NULL COMMENT 'FK: Songs ?뚯씠釉?李몄“',
  `genre_id` bigint(20) NOT NULL COMMENT 'FK: Genres ?뚯씠釉?李몄“',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uix_song_genre` (`song_id`,`genre_id`),
  KEY `fk_sg_genre` (`genre_id`),
  CONSTRAINT `fk_sg_genre` FOREIGN KEY (`genre_id`) REFERENCES `genres` (`genre_id`),
  CONSTRAINT `fk_sg_song` FOREIGN KEY (`song_id`) REFERENCES `songs` (`song_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='怨????λⅤ ?곌껐 愿怨?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `song_genre`
--

LOCK TABLES `song_genre` WRITE;
/*!40000 ALTER TABLE `song_genre` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `song_genre` VALUES
(1,1,1),
(2,2,1),
(3,2,2);
/*!40000 ALTER TABLE `song_genre` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `songs`
--

DROP TABLE IF EXISTS `songs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `songs` (
  `song_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '怨?湲곕낯 ??,
  `album_id` bigint(20) NOT NULL COMMENT 'FK: Albums ?뚯씠釉?李몄“',
  `title` varchar(255) NOT NULL COMMENT '怨??쒕ぉ',
  `track_number` int(11) DEFAULT NULL COMMENT '?⑤쾾 ???몃옓 ?쒖꽌',
  `duration` int(11) NOT NULL COMMENT '?ъ깮 ?쒓컙 (珥?',
  `lyrics` text DEFAULT NULL COMMENT '媛???뺣낫',
  `file_url` text NOT NULL COMMENT '?뚯썝 ?뚯씪 寃쎈줈',
  `is_title` tinyint(1) NOT NULL COMMENT '??댄? 怨??щ? (0:false, 1:true)',
  PRIMARY KEY (`song_id`),
  KEY `fk_song_album` (`album_id`),
  CONSTRAINT `fk_song_album` FOREIGN KEY (`album_id`) REFERENCES `albums` (`album_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='媛쒕퀎 ?뚯썝 ?몃옓 ?뺣낫';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `songs`
--

LOCK TABLES `songs` WRITE;
/*!40000 ALTER TABLE `songs` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `songs` VALUES
(1,1,'諛붾떎',1,300,'諛붾떎媛 ....','a',1),
(2,2,'??,2,240,'?뀁씠 ?대뵜源?.......','b',0),
(3,3,'醫뗭???,3,230,'?섎뒗??,'c',1);
/*!40000 ALTER TABLE `songs` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `subscription`
--

DROP TABLE IF EXISTS `subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscription` (
  `sub_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '援щ룆沅?湲곕낯 ??,
  `name` varchar(50) NOT NULL COMMENT '援щ룆沅뚮챸',
  `price` int(11) NOT NULL COMMENT '媛寃?,
  `period_days` int(11) NOT NULL COMMENT '?좏슚 湲곌컙 (??',
  PRIMARY KEY (`sub_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='援щ룆沅?醫낅쪟 ?뺣낫';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription`
--

LOCK TABLES `subscription` WRITE;
/*!40000 ALTER TABLE `subscription` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `subscription` VALUES
(2,'?꾨━誘몄뾼 ?곌컙',500000,365);
/*!40000 ALTER TABLE `subscription` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_artist`
--

DROP TABLE IF EXISTS `user_artist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_artist` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '愿怨?湲곕낯 ??,
  `user_id` bigint(20) NOT NULL COMMENT 'FK: Users ?뚯씠釉?李몄“',
  `artist_id` bigint(20) NOT NULL COMMENT 'FK: Artists ?뚯씠釉?李몄“',
  `follow_created_at` datetime DEFAULT NULL COMMENT '?붾줈???쒖젏',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uix_user_artist` (`user_id`,`artist_id`),
  KEY `fk_ua_artist` (`artist_id`),
  CONSTRAINT `fk_ua_artist` FOREIGN KEY (`artist_id`) REFERENCES `artists` (`artist_id`),
  CONSTRAINT `fk_ua_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?뚯썝 ???꾪떚?ㅽ듃 ?붾줈??愿怨?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_artist`
--

LOCK TABLES `user_artist` WRITE;
/*!40000 ALTER TABLE `user_artist` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `user_artist` VALUES
(1,1,1,'2021-04-04 00:00:00'),
(2,2,1,'2022-05-05 00:00:00'),
(3,3,1,'2022-05-05 00:00:00'),
(4,1,2,'2024-05-05 00:00:00'),
(5,1,3,'2025-06-06 00:00:00');
/*!40000 ALTER TABLE `user_artist` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_subscription`
--

DROP TABLE IF EXISTS `user_subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_subscription` (
  `us_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '援щ룆 ?꾪솴 湲곕낯 ??,
  `user_id` bigint(20) NOT NULL COMMENT 'FK: Users ?뚯씠釉?李몄“',
  `sub_id` bigint(20) NOT NULL COMMENT 'FK: Subscriptions ?뚯씠釉?李몄“',
  `start_date` datetime NOT NULL COMMENT '援щ룆 ?쒖옉??,
  `end_date` datetime NOT NULL COMMENT '留뚮즺??,
  `status` varchar(20) NOT NULL COMMENT '?곹깭: Active, Expired',
  `auto_renew` tinyint(1) NOT NULL COMMENT '?먮룞 媛깆떊 ?щ?',
  PRIMARY KEY (`us_id`),
  KEY `fk_usub_user` (`user_id`),
  KEY `fk_usub_sub` (`sub_id`),
  CONSTRAINT `fk_usub_sub` FOREIGN KEY (`sub_id`) REFERENCES `subscription` (`sub_id`),
  CONSTRAINT `fk_usub_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?뚯썝蹂?援щ룆 ?꾪솴';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_subscription`
--

LOCK TABLES `user_subscription` WRITE;
/*!40000 ALTER TABLE `user_subscription` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `user_subscription` VALUES
(5,1,2,'2025-05-05 00:00:00','2025-05-10 00:00:00','Active',1);
/*!40000 ALTER TABLE `user_subscription` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '?ъ슜??湲곕낯 ??,
  `email` varchar(100) NOT NULL COMMENT '?대찓??(濡쒓렇??ID)',
  `password` varchar(255) NOT NULL COMMENT '鍮꾨?踰덊샇 (?뷀샇??',
  `nickname` varchar(50) NOT NULL COMMENT '?됰꽕??,
  `membership` enum('Free','Premium') NOT NULL DEFAULT 'Free' COMMENT '?뚯썝 ?깃툒: Free, Premium',
  `created_at` datetime NOT NULL DEFAULT current_timestamp() COMMENT '媛?낆씪??,
  `is_admin` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `nickname` (`nickname`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?ъ슜??湲곕낯 ?뺣낫';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `users` VALUES
(1,'adb@naver.com','1234','kim','Premium','2025-12-04 19:08:34',0),
(2,'abc@daum.net','2222','lee','Free','2025-12-04 19:10:42',0),
(3,'a@a.com','1','park','Free','2025-12-04 19:13:13',0);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `usersongstat`
--

DROP TABLE IF EXISTS `usersongstat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `usersongstat` (
  `user_id` bigint(20) NOT NULL COMMENT 'PK, FK: Users ?뚯씠釉?李몄“',
  `song_id` bigint(20) NOT NULL COMMENT 'PK, FK: Songs ?뚯씠釉?李몄“',
  `play_count` int(11) NOT NULL DEFAULT 0 COMMENT '?꾩쟻 ?ъ깮 ?잛닔',
  `last_played_at` datetime DEFAULT NULL COMMENT '理쒖쥌 ?ъ깮 ?쒓컙',
  `is_like` tinyint(1) DEFAULT NULL COMMENT '醫뗭븘???щ?',
  PRIMARY KEY (`user_id`,`song_id`),
  KEY `fk_uss_song` (`song_id`),
  CONSTRAINT `fk_uss_song` FOREIGN KEY (`song_id`) REFERENCES `songs` (`song_id`),
  CONSTRAINT `fk_uss_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci COMMENT='?뚯썝蹂?怨??꾩쟻 ?듦퀎';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usersongstat`
--

LOCK TABLES `usersongstat` WRITE;
/*!40000 ALTER TABLE `usersongstat` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `usersongstat` VALUES
(1,1,3,'2025-06-06 00:00:00',1),
(1,2,100,'2025-12-01 00:00:00',1),
(1,3,0,NULL,1);
/*!40000 ALTER TABLE `usersongstat` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-12-04 21:49:10
